body,html{
    width:100%;
    height: 100%;
}

body{
    margin:0;
    padding:0;
    background:#070600;
    text-align: center;
    font-family: "Bebas Neue";
    color: #F7F7FF;
}

.header{
    font-size: 3em;
    font-weight: 1000;
    padding: 1em;
}

.container{
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.container .button{
    margin: 1em;
    padding: 1.5em;
    border-radius: 0.5em;
    transition: all .35s ease-in-out; 
}

.container .button:hover{
    transform: scale(1.15); 
}

#random-button{
    background-color: #EA526F;
}

#map-button{
    background-color: #23B5D3;
}
